* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ff9494;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 80px;
    align-items: center;
    padding: 20px;
    text-align: center;
}

.finish-header {
    font-family: "Pixelify Sans", sans-serif;
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.516);
    font-size: clamp(2.5rem, 10vw, 64px);
    font-weight: 600;
    color: #f9c6c6;
}

.finish-content {
    font-family: "Pixelify Sans", sans-serif;
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.516);
    font-size: clamp(1.5rem, 6vw, 40px);
    font-weight: 600;
    color: #ffffff;
}

button {
    background-color: #f5c3c3;
    border: 2px solid #F0104A;
    border-radius: 20px;
    padding: clamp(10px, 3vw, 20px) clamp (20px, 5vw, 40px);
    font-family: "Pixelify Sans", sans-serif;
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.516);
    font-size: clamp(1.2rem, 5vw, 40px);
    font-weight: 600;
    color: #F0104A;
    cursor: pointer;
    padding: 20px;
}

button:hover {
    border: 3px solid #f03667;
    background-color: #f8b7b7;
}

.background-container {
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-color: #ffc0c0;
    overflow: hidden;
}

.stars {
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: white;
    animation: anim-points 10s linear infinite;
}

.layer1 {
    animation: moveStars 120s linear infinite;
    opacity: 0.5;
}

.layer2 {
    animation: moveStars 80s linear infinite;
    opacity: 0.7;
}

.layer3 {
    animation: moveStars 40s linear infinite;
    opacity: 1;
}

.content-container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    padding: 20px;
    gap: 20px;
}

.theme-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    align-items: center;
    gap: 12px;
    padding: 10px;
    background-color: #f7aaaa;
}

.theme-header {
    font-family: "Pixelify Sans", sans-serif;
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.516);
    font-size: clamp(1.5rem, 5vw, 40px);
    font-weight: 600;
    color: #F0104A;
}

.chosen-theme {
    font-family: "Pixelify Sans", sans-serif;
    text-shadow: 2px 2px 5px #f0104c96(255, 255, 255, 0.516);
    font-size: clamp(1rem, 4vw, 24px);
    font-weight: 600;
    color: #ffffff;
}

.tries-left-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 560px;
    gap: 10px;
}

.tries-left-header {
    font-family: "Pixelify Sans", sans-serif;
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.516);
    font-size: clamp(1.5rem, 6vw, 32px);
    font-weight: 600;
    color: #F0104A;
}

.tries-left-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    min-height: 40px;
    gap: 5px;
    padding: 10px;
}

.tries-left-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    width: clamp(30px, 8vw, 45px);
}

.word-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 100%;
}

.letter-container,
.space-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    min-width: clamp(30px, 8vw, 64px);
    min-height: clamp(50px, 12vw, 96px);
    border-bottom: 5px solid #ffffff;
    color: #F0104A;
    font-family: "Pixelify Sans", sans-serif;
    text-shadow: 2px 2px 5px #fa99b3(255, 255, 255, 0.516);
    font-size: clamp(2rem, 8vw, 64px);
    font-weight: 600;
}

.space-container {
    border-bottom: transparent;
}

.alphabet-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 720px;
    gap: 8px;
    margin-bottom: 20px;
}

.alphabet-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: "Pixelify Sans", sans-serif;
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.516);
    font-size: clamp(1.5rem, 6vw, 56px);
    font-weight: 600;
    width: clamp(30px, 10vw, 56px);
    height: clamp(40px, 12vw, 80px);
    background-color: #f7aaaa;
    color: #ffffff;
    cursor: pointer;
}

.alphabet-box:hover {
    border: 3px solid #f03667;
    border-radius: 10px;
    background-color: #f8b7b7;
    box-shadow: 4px 4px #d58888;
}

.used {
    background-color: #f8b7b7;
    color: #f4a9a9;
}

.used:hover {
    border: none;
    box-shadow: none;
    border-radius: 0px;
    cursor: auto;
}

@keyframes moveStars {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-100vh);
    }
}