* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.background-container {
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-color: #f7aaaa;
    overflow: hidden;
}

.stars {
    position: absolute;
    top: 0;
    left: 0;

    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: white;
    animation: anim-points 10s linear infinite;
}

.layer1 {
    animation: moveStars 120s linear infinite;
    opacity: 0.5;
}

.layer2 {
    animation: moveStars 80s linear infinite;
    opacity: 0.7;
}

.layer3 {
    animation: moveStars 40s linear infinite;
    opacity: 1;
}

.content-container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    padding: 20px;
    gap: 16vh;
    text-align: center;
}

.title-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.title {
    font-family: "Pixelify Sans", sans-serif;
    text-shadow: 5px 5px 5px rgba(255, 255, 255, 0.516);
    gap: 20px;
    font-size: clamp(3rem, 15vw, 159px);
    font-weight: 600;
    color: #F0104A;
    line-height: 1;
}

.start-button {
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-family: "Pixelify Sans", sans-serif;
    font-size: clamp(1.2rem, 4vw, 35px);
    background-color: #ec557d;
    border: none;
    height: auto;
    min-width: auto;
    padding: 12px 40px;
    transition: background-color .3s, transform 0.2s;
}

.start-button:hover {
    background-color: #f07898;
    transform: scale(1.05);
}

@keyframes moveStars {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-100vh);
    }
}

@media (max-width: 600px) {
    .title {
        text-shadow: 3px 3px 3px rgba(255, 255, 255, 0.5);
    }

    .start-button {
        font-size: clamp(1.2rem, 5vw, 35px);
        padding: 12px 30px;
        width: 50%;
        height: 30%;
    }
}